:root {
  font-family: Inter, system-ui, Avenir, Condensed, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h3 {
  width: 363;
  height: 50;
  top: 56px;
  left: 778px;
  opacity: 1;
  font-family: Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: #FFFFFF;
}
header div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}