:root {
  font-family: Inter, system-ui, Avenir, Condensed, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
}
header {
  background-image: url('./public/assets/iteration-1/home-banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
header div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header div h1, 
header div p, 
header div button {
  margin: 0;
  padding: 0;
}
header div p {
  color: #FDC913;
  font-family: 'Satisfy', cursive;
  font-size: 1.25rem;
}
header div h1 {
  color: white;
  font-size: 3.125rem;
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
}
header div button {
  background-color: #FDC913;
  color: black;
  border: none;
  padding: 0.625rem 2.5rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  border-radius: 1.25rem;
}
header div button:hover {
  background-color: rgb(200, 150, 50);
}
header img {
  margin: 1.25rem;
}
#category-selection {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0.9375rem;
  background-color: white;
}
.category-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.category-buttons button {           
  background: none;
  border: 0.1rem solid #ccc;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
  border: 0.1rem solid transparent;
  transition: border 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.category-buttons button span {
  margin-left: 0.5rem;
  color: #333;
}
.category-buttons button img {
  width: 1.5rem;
  height: 1.5rem;
}
.category-buttons button:hover {
  border: 0.1rem solid #333; 
}

#slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#slogan p, 
#slogan h2 {
  margin: 0;
  padding: 0;
  color: black;
}
#slogan p {
  font-family: 'Satisfy', cursive;
  font-size: 1.25rem;
  color: #CE2829;
}
#slogan h2 {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 2.1875rem;
}
#category-selection.mid-category-buttons {
  background-color: transparent;
}
#category-selection.mid-category-buttons button {
  border: 0.0625rem solid white;
  border-radius: 8.75rem;
  margin: 0 0.3125rem;
  background-color: white;
  transition: border 0.3s ease;
}
#category-selection.mid-category-buttons button:hover {
  border: 0.0625rem solid white;
  background-color: #252526;
}
#category-selection.mid-category-buttons button:hover,
#category-selection.mid-category-buttons button:hover span {
  color: white;
}
.panel-content {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  max-width: 75rem;
  margin: 3.125rem auto;
}
.panel-card-1 h2 {
  font-family:'Quattrocento', serif; 
  font-weight: 700; 
  font-style: normal; 
  font-size: 2.5rem; 
  color: white;
}
.panel-card-1 p,
.panel-card-1 h2,
.panel-card-3 button {
  margin: 0;
  padding-bottom: 0.625rem;
}
.panel-right {
  display: flex;
  flex-direction: column; 
  gap: 1.25rem;
}

.panel-card-1, .panel-card-2, .panel-card-3 {
  background-size: cover;
  background-position: center;
  padding: 1.875rem;
  border-radius: 0.625rem;
}

.panel-card-1 { background-image: url('./public/assets/iteration-2/cta/kart-1.png'); width: 31.25rem; height: 25.5rem; }
.panel-card-2 { background-image: url('./public/assets/iteration-2/cta/kart-2.png'); width: 25rem; height: 10.3125rem; }
.panel-card-3 { background-image: url('./public/assets/iteration-2/cta/kart-3.png'); width: 25rem; height: 10.3125rem; }

button {
  background-color: white;
  color: #CE2829;
  border: none;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 1.875rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
}
.panel-content button:hover {
  background-color: #292929;
  color: white;
}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 187.5rem;
  margin: 3.125rem auto;
  gap: 1.25rem;
}
.card {
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.625rem;
  text-align: center;
  color: black;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card p {
  display: flex; flex-direction: column; align-items: flex-start;
}
.card-desc {
  display: flex;        
  justify-content: center;   
  gap: 0.9375rem;
  margin: 0;
}
.card-desc p {
  margin: 0;
}
.card:hover {
  transform: translateY(-0.3125rem);
  box-shadow: 0 0.25rem 0.5rem black;
}
footer {
  background-color: #292929;
  color: white;
  padding: 1.25rem;
}
#footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.footer-links, .footer-menu {
  text-align: left;
}
.footer-item {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
}
.footer-links a{
  color: #FAF7F2;
  text-decoration: none;
  padding: 0.625rem 0;
}
.footer-links a:hover {
  text-decoration: underline;
}
.footer-links {
  padding-bottom: 6.25rem;
  margin: 0;
}
.footer-menu {
  padding-bottom: 1.875rem;
  margin: 0;
}
.footer-menu li {
  padding: 0.3125rem 0;
  color: #FAF7F2;
}
.instagram-feed {
  padding-bottom: 3.4375rem;
  margin: 0;
}
.footer-bottom {
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 650px;
}
.footer-divider {
  border-top: 0.1rem solid #5F5F5F;
  width: 100%;
}
/* Tablet (≤1024px) */
@media screen and (max-width: 1024px) {
  html {
    font-size: 93.75%; /* ~15px */
  }
}

/* Büyük mobil / küçük tablet (≤768px) */
@media screen and (max-width: 768px) {
  html {
    font-size: 87.5%; /* ~14px */
  }
}

/* Mobil (≤480px) */
@media screen and (max-width: 480px) {
  html {
    font-size: 81.25%; /* ~13px */
  }
}